.EnTeteEleves {
	border: 1px solid #ddd;
	display: inline-block;
	min-width: "50%"
}
.EnTeteEleves .CheckBox.Selectionne.Tous {
	display: inline-block;
	min-width: "10%"
}
.EnTeteEleves .Bouton.Ajout.Eleve {
	display: inline-block;
	min-width: "22,5%"
}
.EnTeteEleves .CheckBox.Supprim.Eleve {
	display: inline-block;
	min-width: "22,5%"
}
.EnTeteEleves .CheckBox.Modif.Eleve {
	display: inline-block;
	min-width: "22,5%"
}
.EnTeteEleves .CheckBox.Ajout.Liste.Eleves {
	display: inline-block;
	min-width: "22,5%"
}
