/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ***********************************************
*/
.nettoyeur {
    clear:both;
    float:none;
}

body {
    font-family:sans-serif;
	background-color:#f1f1f1;
	background-image:url("../images/back-gris-transparent.png");
	background-repeat:repeat-x;
}

.page {
	display:none;
    position:relative;
    width:100%;
	min-height:500px;
	border:1px solid #eee;
	background:#f1f1f1
	
}

.entete {
	position:relative;
	width:958px;
	height:100px;
	margin:0 auto 0 auto;
	background-color:#fff;
	background-image:url(../images/filet-gris.png);
	background-repeat:repeat-x;
	background-position:335px 0px
}

.logo {
	position:absolute;
	top:30px;
}

.entete .menu-enseignant {
	position:absolute;
	left:210px;
	top:70px;
    text-align:center;
	font-size:12px;
	margin:auto;
}

.entete .menu-enseignant .item-menu {
	display:block;
	float:left;
	height:15px;
	margin-right:3px;
	padding:5px 10px 5px 10px;
	border:1px solid #ddd;
	cursor:pointer
}

.entete .menu-enseignant .item-menu.btnDeconnexion {
	display:inline-block;
	padding:5px 10px 5px 10px;
	border:1px solid #ddd;
	cursor:pointer;
	margin-left:50px;
}


.bouton {
    padding:5px;
    background:#EDEDED;
    border:1px solid #ccc;
	cursor:pointer;
}

.bloc-message {
	width:100%;
	font-size:12px;
	text-align:center;
	line-height:20px;
	height:20px;
	background:#fff;
	background-repeat:repeat-x;
	background-image:url(../images/back-gris.jpg);
}

#message {
	display:none;
	width:200px;
	margin:auto;
	background:gold;
	font-weight:bold;
	border:1px solid orange
}

.col {
	display:block;
	float:left;
	width:33%;
	min-height:500px;
	
}

.widget {
	margin:1%;
	min-height:480px;
    font-size:12px;
	border:1px solid #ccc;
	background:#fff
}

.widget .cadre{
	margin:1%;
    
}

.widget .header {
    margin:5px;
    font-weight:bold;
}

.widget .content {
    margin:5px;
}
.widget .footer {
    margin:5px;
}

.ui-dialog-titlebar {
	font-size:12px;
}

/* panel Editeur de Seance */

.panelEditeurSeance label {
    display:block;
	margin:5px;
}

.panelEditeurSeance .bloc-titre, .panelEditeurSeance .bloc-description, .panelEditeurSeance .bloc-groupe, .panelEditeurSeance .bloc-exercice{
    margin:5px;
}

.panelEditeurSeance .bloc-titre input {
    width:98%;
    height:18px;
    padding:3px;
    border:1px solid #ccc
}

.panelEditeurSeance textarea {
    width:98%;
    height:42px;
    padding:3px;
    border:1px solid #ccc
}

.panelEditeurSeance .bloc-groupe {
	position:relative
}

.panelEditeurSeance .bloc-btn-groupe {
	width:22%;
	float:left;
}
.panelEditeurSeance .listeGroupeProf {
	display:none;
	position:absolute;
	left:57px;
	padding:5px;
	background:white;
	border:1px solid #ccc
}

.panelEditeurSeance .listeGroupeProf label{
	width:auto
}

.panelEditeurSeance .listeGroupeSeance {
    float:left;
    width:75%;
    padding:3px;
	border:1px solid #ccc;
	min-height:40px;
}

.panelEditeurSeance .groupe-seance {
	display:inline-block;
	margin:5px;
	padding:3px;
	background-color:#ccc
}

.panelEditeurSeance .bloc-groupe input {
	width:20px;
	border:1px solid #ccc;
	background:#fff
}

.panelEditeurSeance .listeExercice{
    width:98%;
    min-height:200px;
    border:1px solid #ccc
}

.panelEditeurSeance .listeExercice span{
   display:inline-block
}

.panelEditeurSeance .listeExercice span.nom{
   width:90%;
   cursor:pointer
}

.panelEditeurSeance .listeExercice .ui-icon{
   float:right;
   cursor:pointer;
}

.panelEditeurSeance .exercice {
    padding:5px;
    border-bottom:1px solid #ccc
}

.panelEditeurSeance .exercice.flash{
	color:#999;
}

/* panel exo calcul@TICE */
.active {
	font-weight:bold;
	color:#025D8C;
}

.panelExoCalculatice .content {
	min-height:380px;
}
.panelExoCalculatice .panel {
    display:none;
	padding:10px;
}

.panelExoCalculatice .panel.cp {
    display:block;
}

.panelExoCalculatice .navbar {
	margin:5px 5px 0px 5px;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}

.panelExoCalculatice button{
	margin:5px -3px 0px 5px;
	border-bottom:none;
	width:50px;
	cursor:pointer;
}

.panelExoCalculatice .content {
	margin:0px 5px 5px 5px;
	border:1px solid #aaa;
}

.panelExoCalculatice .panel .liste-activite {
    padding-left:10px;
}

.panelExoCalculatice .panel .liste-activite .nom.flash{
    color:#999;
}

.panelExoCalculatice .panel .liste-exercice {
    padding-left:10px;
}

.panelExoCalculatice .liste-activite{
    display:none;
}

.panelExoCalculatice .liste-exercice{
    display:none;
}

.panelExoCalculatice span{
    display:inline-block;
	vertical-align:top;
	margin:2px;
	background-repeat:no-repeat
}

.panelExoCalculatice span.nom {
	width:90%;
}

.panelExoCalculatice span.branch {
	cursor:pointer;
}

.panelExoCalculatice .exercice {
	cursor:pointer;
}

.panelExoCalculatice .exercice.flash {
	color:#999;
}

/* panel Senaces perso */

.panelSeancePerso .mnuSeance, .panelSeancePerso .mnuDossier, .panelSeancePerso .mnuAttente {
	display:inline-block
}


.panelSeancePerso .btnMenuDossier span {
	display:inline-block;
	vertical-align:top
}

.panelSeancePerso .btnMenuSeance span {
	display:inline-block;
	vertical-align:top
}

.panelSeancePerso .btnMenuAttente span {
	display:inline-block;
	vertical-align:top
}

.panelSeancePerso .menu {
	position:relative
}

.panelSeancePerso .menu ul  {
	display:none;
	position:absolute;
	background:#fff;
	border:1px solid #ccc;
	text-align:left;
	width:120px;
}

.panelSeancePerso .mnuAttente ul  {
	left:-320px;
	width:350px;
	max-height:400px;
	overflow:auto;
	background:#F3F3F3
}

.panelSeancePerso .menu ul  li {
	margin:5px;
	cursor:pointer;
}

.panelSeancePerso .mnuAttente ul li {
	margin:10px;
	border:1px solid #ddd;
	background:#fff
}

.panelSeancePerso .mnuAttente ul li div {
	margin:5px;
}

.panelSeancePerso .mnuAttente ul li div span{
	font-weight:bold
}

.panelSeancePerso .menu ul  li.inactif{
	color:#999
}


.panelSeancePerso .arbre-seance .racine{
	min-height:400px;
}

.panelSeancePerso .arbre-seance .seance{
	cursor:pointer;
}

.panelSeancePerso .arbre-seance .dossier{
	cursor:pointer
}

.arbre-seance li span {
	display:inline-block;
	vertical-align:bottom;
	margin:2px;
}

.arbre-seance .active{
	
}

.arbre-seance .liste-seance {
	display:none;
	min-height:20px;
	margin-left:21px;
}

.arbre-seance .place-holder {
	border:1px dotted blue;
	height:20px;
}

.ui-dialog {
	font-size:12px
}

.modalExercice {
	display:none;
}

.modalExercice #conteneur-exo{
	border:1px solid #ddd
}

.modalExercice .bloc-champ {
	width:735px;
	margin-bottom:10px;
}

.modalExercice .champ {
	float:left;
}

.modalExercice .champ.titre {
	width:300px;
}

.modalExercice .champ.description {
	width:435px;
}

.modalExercice .champ label{
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}

.modalExercice .champ input{
	display:block;
	width:260px;
	padding:10px;
	border:1px solid #ddd
}

.modalExercice .champ textarea{
	display:block;
	width:400px;
	padding:5px;
	border:1px solid #ddd
}

.modalTransfert {
	display:none;
}

.modalTransfert div{
	margin:10px 0 10px 0
}

.modalTransfert input{
	width:250px;
}

.modalTransfert .nom-seance {
	font-weight:bold;
}

.modalTransfert .label-seance {
	display:inline-block;
	width:250px
}

/* page gestion des effectifs */
.page.effectif .col.centre {
	width:66%;
}

.panelEditeurClasse .listeClasse li {
	padding:5px;
	border-bottom:1px solid #eee;
	cursor:pointer;
}

.panelEditeurClasse .listeClasse li.active {
	font-weight:bold
}

.panelEditeurEleve .bloc-fileupload {
	display:none;
	
}

.panelEditeurEleve .listeGroupeProf li {
	margin:2px;
	min-width:300px;
}

.panelEditeurEleve .listeGroupeProf span {
	display:inline-block;
	vertical-align:bottom;
}

.panelEditeurEleve .listeGroupeProf .icone {
	width:16px;
	height:16px;
	border:1px solid #ddd;
	margin-right:5px;
}

.panelEditeurEleve table {
	width:100%;
}

.panelEditeurEleve th {
	font-weight:bold;
	border:1px solid #ddd;
	padding:3px;
}

.paneEditeurEleve thead .first {
	width:2%;
}

.panelEditeurEleve td {
	border:1px solid #ddd;
	padding:5px;
	cursor:pointer;
}

.panelEditeurEleve .action{
	text-align:center
}

.panelEditeurEleve table input {
	width:96%;
	height:100%;
	border:none;
	font-size:12px;
	padding-left:5px;
}

.panelEditeurEleve .bloc-btn {
	position:relative;
	display:inline-block
}

.panelEditeurEleve .divListeGroupeProf.listeGroupeProf {
	display:none;
	position:absolute;
	padding:5px;
	background:white;
	border:1px solid #ccc
}

.panelEditeurEleve .btnGroupe span {
	display:inline-block;
	vertical-align:top
}

.panelEditeurEleve .btnNouvelleListe span {
	display:inline-block;
	vertical-align:top
}


.panelEditeurEleve .eleve.active {
	font-weight:bold
}

.panelEditeurEleve .bloc-fileupload {
	border:1px solid #ccc;
	min-width:350px;
	margin-left:50px;
}

.panelEditeurEleve .bloc-fileupload form{
	display:block;
	margin:0 auto 20px 20px
}

.modalEditionEleve .cel-valider {
	text-align:center
}

.modalEditionEleve .message {
	text-align:center
}

.modalEditionEleve input {
	border:1px solid #ccc
}

/* page gestion sommaire eleve */

.panelClasseGroupe .listeClasse li {
	padding:5px;
	border-bottom:1px solid #eee;
	cursor:pointer
}

.panelClasseGroupe .listeClasse li.active {
	font-weight:bold
}

.page.sommaire .panelEditeurSommaire .liste-seance-sommaire {
	width:100%;
	min-height:360px;
	border:1px solid #ddd
}

.panelEditeurSommaire .seance  {
	border-bottom: 1px solid #ddd;
	cursor:pointer
}

.panelEditeurSommaire .seance span {
	margin:10px;
	display:inline-block;
	vertical-align:bottom
}

.panelEditeurSommaire .ui-icon-plus {
	border:1px solid #ddd
}

.panelEditeurSommaire .ui-icon-minus {
	border:1px solid #ddd
}

.panelEditeurSommaire .ui-icon-trash {
	float:right;
	border:1px solid #ddd
}

.panelEditeurSommaire .liste-exercice {
	margin-left:30px;
}

.panelEditeurSommaire .liste-exercice span {
	margin:5px;
	display:inline-block;
	vertical-align:bottom;
}

.panelEditeurSommaire .liste-exercice li {
	border-top : 1px solid #ddd
}

.panelEditeurSommaire .exercice.flash{
	color:#aaa;
}

.panelSeanceSommaire .seance  {
	cursor:pointer
}

.panelSeanceSommaire .dossier>.ui-icon  {
	cursor:pointer
}


/* la page des resultats */

.page.bilan .col.centre {
	width:66%;
}

.panelClasseGroupeEleve .classe {
	font-weight:bold;
	cursor:pointer;
}

.panelClasseGroupeEleve .eleve {
	margin-left:10px;
	cursor:pointer;
}

.panelResultat #date-du, .panelResultat #date-au{
	width:80px;
}

.panelResultat label {
	color:#ccc
}

.panelResultat .liste-resultat {
	width:600px;
	margin-left:10px;
}
.panelResultat .liste-journee {
	margin-left:10px;
}

.panelResultat .resultat {
	border-bottom:1px solid #ddd;
	width:450px;
}
.panelResultat span {
	display:inline-block;
	margin:5px;
}

.ui-datepicker {
	font-size:12px;
}

.panelResultat .toolbar div {
	display:inline-block
}
.panelResultat .toolbar .spacer {
	width:20px;
	color:#680080
}

.panelResultat .sel-seance, .panelResultat .sel-exercice {
	width:130px;
}

.panelResultat .eleve>.nom{
	font-weight:bold;
	color:#025D8C
}

.panelResultat .journee>span{
	font-style:italic
}

.panelResultat .resultat .heure {
	width:50px;
}

.panelResultat .resultat .nom {
	width:250px;
	overflow:hidden
}

.panelResultat .resultat .score {
	width:60px;
	text-align:right;
}

.panelResultat .resultat .percent {
	width:30px;
	text-align:right;
}

/* la page de gestion du compte */


.page.compte .col {
	float:none;
	width:800px;
	margin:auto;
}

.panelCompte label {
	font-size:12px;
	display:block;
	margin:5px;
}

.panelCompte .cadre-compte, .panelCompte .cadre-mdp {
	float:left;
	width:295px;
	height:300px;
	margin:20px;
	padding:20px;
	border:1Px solid #ddd
}

.panelCompte button {
	margin:20px;
}

.modale-mdp{
	font-size:12px;
	text-align:center;
}

.modale-mdp label {
	display:block;
	margin:5px;
}

.modale-mdp input {
	margin:5px;
	width:75%
}

.modale-mdp button {
	margin:5px;
}
